
.content-airtime{
    padding: 20px 40px;
    background-color: rgb(152, 152, 94);
    width: 600px;
}
.content-airtime .details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.content-airtime .details h4{
  width: 60%;
  font-size: 20px;
  color: antiquewhite;
}

.content-airtime .details button{
  background: none;
  color: white;
}
.content-airtime form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-airtime form input{
    padding: 6px 10px; 
    width: 85%;
    margin-bottom: 20px;
    font-size: 18px;
    outline: none;
    border-radius: 6px;
    border: none;
}

.content-airtime form button{
    padding: 10px; 
    width: 30%;
    margin-bottom: 10px;
    font-size: 18px;
}